
/* BODY */

.paddin{
    padding-left: 1rem;
    padding-bottom: 11rem;
}

.actual-form{
    background-color: #a9745b;
    box-shadow: 0 0 4px 12px rgba(129, 86, 57, 0.25);
    font-family: Comfortaa;
}

.custom-Invert{
  background-color: #198754;
  color: #a1af89;
  border-color: #198754;
}

.custom-Invert:hover{
  background-color: #a1af89;
  color: #198754;
  border-color: #a1af89;
}

.input{
    background-color: transparent !important;
    min-width: 30%;
}

.img{
    width: 75%;
    margin-left: 10%;
}
