
/* FONTS */

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComfortaaBold';
  src: url('/fonts/Comfortaa-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* NAVBAR */

nav, .navbar {
  font-family: 'Comfortaa', sans-serif;
  background-color: #FDF8EE !important;
  box-shadow: 0 8px 12px rgba(129, 86, 57, 0.25);
}

.navbar-brand{
    font-family: 'ComfortaaBold', sans-serif !important;
    color: #ab6848;
}

.search-bar{
    background-color: transparent !important;
    /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); */

}

.custom-Invert{
  background-color: #198754;
  color: #a1af89;
  border-color: #198754;
}

.custom-Invert:hover{
  background-color: #a1af89;
  color: #198754;
  border-color: #a1af89;
}

/* .dropdown-style, .dropdown-item{
    background-color: transparent !important;
    color: white;
    /* border: none; 
}*/

/* .dropdown-divider{
    border: none;
} */

/* .navbar-toggler-icon {
  filter: invert(100%);
}*/

.foot{
  width: 101%;
  font-family: 'Comfortaa';
  color: #45322E;
  text-align: center;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15);
}


