/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #FDF8EE;
    /* background-image: url('/protoRef.jpg') !important; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* NAVBAR */

nav, .navbar {
  font-family: 'Comfortaa', sans-serif;
  background-color: #FDF8EE !important;
  box-shadow: 0 8px 12px rgba(129, 86, 57, 0.25);
}

.navbar-brand{
    font-family: 'ComfortaaBold', sans-serif !important;
    color: #ab6848;
}

.search-bar{
    background-color: transparent !important;
    /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); */

}

.btn{
    color: #a1af89;
}

.custom-Invert{
  background-color: #198754;
  color: #a1af89;
  border-color: #198754;
}

.custom-Invert:hover{
  background-color: #a1af89;
  color: #198754;
  border-color: #a1af89;
}

/* .dropdown-style, .dropdown-item{
    background-color: transparent !important;
    color: white;
    /* border: none; 
}*/

/* .dropdown-divider{
    border: none;
} */

/* .navbar-toggler-icon {
  filter: invert(100%);
}*/

/* PAGE */
.intro
{
    padding-top: 4.5rem;
}