/* FONTS DESIGN */

.redirect{
    font-family: 'Nunito' !important;
    color: #45322E;
    text-decoration: none;
}

.redirect-Term{
  font-family: 'Nunito' !important;
  color: #45322E;
}

/* BODY */

.paddin{
    padding-left: 1rem;
    padding-bottom: 4rem;
}

.actual-form{
    background-color: #a9745b;
    box-shadow: 0 0 4px 12px rgba(129, 86, 57, 0.25);
    font-family: Comfortaa;
}

.custom-Invert{
  background-color: #198754;
  color: #a1af89;
  border-color: #198754;
}

.custom-Invert:hover{
  background-color: #a1af89;
  color: #198754;
  border-color: #a1af89;
}

.input{
    background-color: transparent !important;
    min-width: 30%;
}

.img{
    width: 96%;
    margin-left: 7%;
}

/* .foot{
  width: 101%;
  margin-top: 3.5%;
  font-family: 'Comfortaa';
  color: #45322E;
  text-align: center;
  box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.15);
} */