
/* FONTS */

@font-face {
  font-family: 'Comfortaa';
  src: url('/fonts/Comfortaa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ComfortaaBold';
  src: url('/fonts/Comfortaa-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* FONTS DESIGN */

h1, h2, h3, .redirect{
    font-family: 'Nunito' !important;
    color: #45322E;
    text-decoration: none;
}

/* BODY */

.log{
    padding-top: 5rem;
    padding-left: 1rem;
}

.actual-form{
    background-color: #a9745b;
    box-shadow: 0 0 4px 12px rgba(129, 86, 57, 0.25);
    font-family: Comfortaa;
}

.custom-Invert{
  background-color: #198754;
  color: #a1af89;
  border-color: #198754;
}

.custom-Invert:hover{
  background-color: #a1af89;
  color: #198754;
  border-color: #a1af89;
}

.input{
    background-color: transparent !important;
    min-width: 30%;
}

.img{
    width: 96%;
    margin-left: 7%;
}